<div class="container">
    <app-breadcrumb [header]="header"></app-breadcrumb>
    <section class="about-container">
        <div class="about-card">
            <div class="about-card-content">
                <h4>The global leader in tech rentals</h4>
                <p>We believe that access to technology is a human right. By making exceptional technology accessible to everyone, we help empower people to live the lives how they want and explore new horizons, both personally and professionally.</p>
            </div>
            <div class="about-card-img">
                <img src="assets/about-stock-photo-2.jpg" alt="">
            </div>
        </div>
        <div class="about-card">
            <div class="about-card-img">
                <img src="assets/about-stock-photo-3.jpg" alt="">
            </div>
            <div class="about-card-content">
                <h4>Try instead of buy</h4>
                <p>Our rental equiptment service enables people to try to tech devices on a flexible day-by-day basis instead of purchasing them. With Grover, customers gain access to quality products allowing them to keep, switch, return, or buy, depending on their individual needs and budget.</p>
            </div>
        </div>
        <div class="about-card">
            <div class="about-card-content">
                <h4>Own the tech experience</h4>
                <p>Renting out tech products to several users across their life cycle allows for maximum value to be extracted from each product and reduces e-waste.</p>
            </div>
            <div class="about-card-img">
                <img src="assets/about-stock-photo-1.webp" alt="">
            </div>
        </div>
    </section>
    <app-easy-banner></app-easy-banner>
    <app-booking-banner></app-booking-banner>
</div>