<div class="container">
    <div class="selection-container">
        <div class="selection-header">
            <h6>Browse Our Selection of</h6>
            <h3>Quality Rental Cameras</h3>
            <p>Choose from a variety of our amazing cameras to rent for your next photoshoot or video gig</p>
        </div>
        <div class="selection-content">
            <div class="selection-content-buttons">
                <p-button product="product" (onClick)="handleSelect(product)" *ngFor="let product of products" label='{{product.model}}' [style]="{width: '220px'}"></p-button>
            </div>
            <div class="selection-content-right">

                <div class="selection-content-img">
                    <h4>{{selectedProduct.brand}} {{selectedProduct.model}}</h4>
                    <img src={{selectedProduct.image}} alt="">
                </div>
                
                <div class="selection-content-table">
                    <p-table [value]="[{selectedProduct}]" styleClass="p-datatable-gridlines" [tableStyle]="{'width': '300px'}">
                        <!-- <ng-template pTemplate="caption">
                            {{selectedProduct.brand}} {{selectedProduct.name}}
                        </ng-template> -->
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="2">${{selectedProduct.price}} per day</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body">
                            <tr>
                                <td>Brand</td>
                                <td>{{selectedProduct.brand}}</td>
                            </tr>
                            <tr>
                                <td>Model</td>
                                <td>{{selectedProduct.model}}</td>
                            </tr>
                            <tr>
                                <td>Product Type</td>
                                <td>{{selectedProduct.type}}</td>
                            </tr>
                            <tr>
                                <td>Video Resolution</td>
                                <td>{{selectedProduct.resolution}}</td>
                            </tr>
                            <tr>
                                <td>Weight</td>
                                <td>{{selectedProduct.weight}} lbs</td>
                            </tr>
                        </ng-template>
                    </p-table>
            </div>
            </div>
        </div>
    </div>
</div>
