<div class="container">
    <app-breadcrumb [header]="header"></app-breadcrumb>
    <div class="contact-container subcontainer">
        <div class="contact-content">
            <div class="contact-header">
                <h4>Need additional information?</h4>
                <p>A multifaceted professional skilled in multiple fields of research, development as well as a learning specialist. Over 15 years of experience.</p>
            </div>
            <div class="contact-info">
                <div class="contact-info-item">
                    <i class="pi pi-phone" style="font-size: 1rem"></i>
                    <p>(123) 456-789</p>
                </div>
                <div class="contact-info-item">
                    <i class="pi pi-envelope" style="font-size: 1rem"></i>
                    <p>shoot@shoot.com</p>
                </div>
                <div class="contact-info-item">
                    <i class="pi pi-directions" style="font-size: 1rem"></i>
                    <p>Atlanta, GA</p>
                </div>
            </div>
        </div>
        <div class="contact-form">
            <div class="contact-form-item">
                <label for="name">Full Name <span class="alert">*</span></label>
                <input name="name" type="text" placeholder="Joe Smith">
            </div>
            <div class="contact-form-item">
                <label for="email">Email <span class="alert">*</span></label>
                <input name="email" type="text" placeholder="Joe Smith">
            </div>
            <div class="contact-form-item">
                <label for="message">Tell us about it <span class="alert">*</span></label>
                <input name="message" type="text" placeholder="Joe Smith">
            </div>
            <p-button label="Send Message"></p-button>
        </div>
    </div>
    <app-booking-banner></app-booking-banner>
</div>
