<div class="container">
    <div class="faq-container">
        <div class="faq-header">
            <h6>FAQ</h6>
            <h3>Frequently Asked Questions</h3>
            <p>Answers to common concerns and inquiries Frequently asked questions about the camera rental booking process</p>
        </div>
        <!-- <p-accordion [activeIndex]="0">
            <p-accordionTab header="What if I damage a device or cause signs of use?">
                <p>
                    If accidental damage happens during your rental, Grover covers 90% of the repair costs for damages of all kinds, including display breakage, water damage, technical defects, or severe signs of use. If the product can't be repaired, Grover covers 90% of the product's retail price at the time of order placement.
                </p>
            </p-accordionTab>
            <p-accordionTab header="How can I cancel my rental?">
                <p>
                    To end your rental, simply return your product. The rental contract is cancelled once the product has been received and successfully processed.
                </p>
            </p-accordionTab>
            <p-accordionTab header="How can I cancel my rental?">
                <p>
                    You can choose between PayPal or Credit Card to pay for your rentals. You are charged once your inquiry is approved.    
                </p>
            </p-accordionTab>
            <p-accordionTab header="Should I place my order far in advance of when I need it?">
                <p>
                    We strongly suggest placing your order early to ensure the gear is available when you need it.   
                </p>
            </p-accordionTab>
        </p-accordion> -->

        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Header I">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Header II">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                    ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p>
            </p-accordionTab>
            <p-accordionTab header="Header III">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
