<div class="container">
    <div class="test-container">
        <div class="test-header">
            <h6>Real Reviews</h6>
            <h3>Customer Testimonials</h3>
            <p>Our customers have experienced our service and results, and they're eager to share their positive experiences with you.</p>
        </div>
        <div class="test-grid">
            <div class="test-grid-item">
                <p class="testimonial">"We rented a camera from this website and had an amazing experience! The booking was easy and the rental rates were very affordable."</p>
                <div class="test-grid-info">
                    <div class="test-grid-person">
                        <img src="assets/testimonial-photo2.jpg" alt="headshot of customer">
                        <div>
                            <h6>Jake Smithers</h6>
                            <p>Los Angeles, CA</p>
                        </div>
                    </div>
                    <i class="pi pi-thumbs-up"></i>
                </div>
            </div>
            <div class="test-grid-item">
                <p class="testimonial">"Your products are always in excellent shape and work great. I'm very happy I found you guys. You are my go to for future electronics."</p>
                <div class="test-grid-info">
                    <div class="test-grid-person">
                        <img src="assets/tetstimonial-photo1.jpg" alt="headshot of customer">
                        <div>
                            <h6>Ashley Miller</h6>
                            <p>Los Angeles, CA</p>
                        </div>
                    </div>
                    <i class="pi pi-thumbs-up"></i>
                </div>
            </div>
        </div>
    </div>
</div>
