<nav>
    <div class="nav-container">
        <div class="logo">
            <div class="logo-top">
                <p>EASY</p>
                <i class="pi pi-camera" style="font-size: 1.5rem"></i>
            </div>
            <h6>SHOOT</h6>
        </div>
        <ul class="nav-section nav-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/products">Our Cameras</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <ul class="nav-section nav-login">
            <li><a routerLink="/login">Sign In</a></li>
            <li>
                <a routerLink="/register"><p-button label="Register"></p-button></a>
            </li>
        </ul>
    </div>
</nav>

