<div class="brand-container">
    <div class="brand-content">
        <h5>Industry leading brands we carry</h5>
        <div class="brands">
            <img src="assets/brands/logo-nikon.svg" alt="nikon logo">
            <img src="assets/brands/logo-canon.svg" alt="canon logo">
            <img src="assets/brands/logo-sony.svg" alt="sony logo">
            <img src="assets/brands/logo-panasonic.svg" alt="panasonic logo">
            <img src="assets/brands/logo-dji.svg" alt="dji logo">
        </div>
    </div>
</div>