<div class="easy-banner-container">
    <div class="easy-banner">
            <div class="easy-banner-header">
                <p>Easy as 1, 2, 3</p>
                <h5>Hassle Free Camera Rentals</h5>
            </div>
            <div class="easy-banner-grid">
                <div class="easy-banner-grid-item">
                    <i class="pi pi-camera" style="font-size: 4rem; color: rgb(249, 115, 22); margin: 2.25rem"></i>
                    <span></span>
                    <h6>1. Pick Camera</h6>
                    <p>Choose a camera from our competitive selection of top-quality devices for your professional or personal use.</p>
                </div>
                <div class="easy-banner-grid-item">
                    <i class="pi pi-check-square" style="font-size: 4rem; color: rgb(249, 115, 22); margin: 2.25rem"></i>
                    <span></span>
                    <h6>2. Approval</h6>
                    <p>After placing your order, we run a credit check and email you the result and shipping details within 24 hours.</p>
                </div>
                <div class="easy-banner-grid-item">
                    <i class="pi pi-car" style="font-size: 4rem; color: rgb(249, 115, 22); margin: 2.25rem"></i>
                    <span></span>
                    <h6>3. Enjoy</h6>
                    <p>Choose a camera from our competitive selection of top-quality devices for your professional or personal use.</p>
                </div>
            </div>

    </div>
</div>